doctype html
html
  head
    title Not Authorized
    style.

      header h1 {
        color: #7BAFD4; 
      }

      main p {
        text-align: center;
        margin: 20px;
      }

      a {
        color: #5692C6; 
      }

      a:hover {
        text-decoration: underline;
      }
  body
    header
      h1 Not Authorized

    main
      p You are not authorized to view this page. Please 
        a(href='/login') log in 
        |  to continue.
